@model List<CrudInMvc.Models.EmployeeController>



<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }
</style>


<table id="customers">
    <tr>
    <th>
      Id
    </th>
    <th>
     organaisation_id

    </th>
   
    <th>
            member_id
    </th>
        <th>
            device_id
        </th>
        <th>
            is_active
        </th>
        <th>
            created_date
        </th>
    </tr>

   @foreach (var emp in Model){

        
        <tr>
       
                <td>@emp.Id</td>
                <td>@emp.organaisation_id</td>
                <td>@emp.member_id</td>
                <td>@emp.device_id</td>
                <td>@emp.is_active</td>
                <td>@emp.created_date</td>
        
            
        </tr>
   }
    
    
</table>

